@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to Australian Potato Chips Production Plant</b></h1>
    <p> Click on Form Requirement to submit your application.</p>
</div>
